
{% extends 'blog/base.html' %}
{% block content %}

<div class="row mb-5">
    <div class="col-9">
        <div class="col-md-11 mx-auto">
            <h1>{{post.title}}</h1> 
            <div class="article-area">
                <p>
                    {% if not post.is_published %}
                    <span class="badge bg-danger">下書き</span>
                    <br>
                    {% endif %}
                    <span class="badge bg-secandary">{{post.category}}</span>
                    <small class="ps-1">
                        <i class="fa-solid fa-pencil">{{post.created_at|date}}</i>
                        <i class="fa-solid fa-wrench">{{post.updated_at|date}}</i>   
                       
                    </small>
                </p>
                {% if post.image %}
                <img width="100%" height="450" src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
                <hr>
                <div class="mt-4 mb-4">
                    {{post.conver_markdown_to_html|safe}}
                </div>
                
                <p>
                {% for tag in post.tags.all %}
                <span class="badge bg-light text-dark">
                    {{tag}}
                </span>
                {% endfor %}
                </p>



            </div>
            <!-- コメント一覧 -->
            {% include 'blog/snippets/comments.html' %}
            <hr>
            <!-- コメントフォーム -->
            <a class="new-comment" href="{% url 'comment' post.pk %}">
                <i class='fa-solid fa-comment-dots'></i>コメントする  
            </a>
        
        </div>
    </div>
<div class="col-3">
   
    {% include "blog/snippets/sidebar.html" %}

</div>


</div>

{% endblock content %}